#main{
    background-image:url(../img/music.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
}

.data{
    width: 100%;
    text-align: center;
    border-collapse: collapse;
    border-spacing: 0;
    border: solid 1px #778ca3; 
}
.data tr{
    border-top: dashed 1px #778ca3;
}
.data th{
    padding: 10px;
 background: #e9faf9;
}
.data td{
    padding: 10px;
}
header{
    padding:30px;
    margin:50px;
    text-align: center;
}
h1{
    text-align: center;
}